documentation/books/en/addons/kiwi.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ================
  FILE          : KIWISchema.rnc
  ****************
  PROJECT       : OpenSUSE Build-Service
  COPYRIGHT     : (c) 2006 SUSE LINUX Products GmbH, Germany
                :
  AUTHOR        : Thomas Schraitle <toms@suse.de>
  AUTHOR        : Marcus Schaefer <ms@suse.de>
                :
  BELONGS TO    : Operating System images
                :
  DESCRIPTION   : This is the RELAX NG Schema for KIWI
                : configuration files
                : 
                :
  STATUS        : Development
  ****************
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!--
    ==========================================
    start with image description
    
  -->
  <start>
    <ref name="k.image"/>
  </start>
  <!--
    ==========================================
    main block: <image>
    
  -->
  <div>
    <define name="k.image.name.attribute">
      <ref name="k.name.attribute"/>
    </define>
    <define name="k.image.inherit.attribute">
      <attribute name="inherit"/>
    </define>
    <define name="k.image.schemeversion.attribute">
      <attribute name="schemeversion">
        <value>1.4</value>
      </attribute>
    </define>
    <define name="k.image.attlist">
      <interleave>
        <ref name="k.image.name.attribute"/>
        <ref name="k.image.inherit.attribute"/>
        <ref name="k.image.schemeversion.attribute"/>
      </interleave>
    </define>
    <define name="k.image">
      <element name="image">
        <ref name="k.image.attlist"/>
        <ref name="k.description"/>
        <ref name="k.preferences"/>
        <optional>
          <ref name="k.profiles"/>
        </optional>
        <optional>
          <ref name="k.instsource"/>
        </optional>
        <zeroOrMore>
          <ref name="k.users"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="k.drivers"/>
        </zeroOrMore>
        <oneOrMore>
          <ref name="k.repository"/>
        </oneOrMore>
        <optional>
          <ref name="k.deploy"/>
        </optional>
        <optional>
          <ref name="k.split"/>
        </optional>
        <zeroOrMore>
          <ref name="k.packages"/>
        </zeroOrMore>
        <ref name="k.bootstrap"/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common attributes
    
  -->
  <define name="k.name.attribute">
    <attribute name="name"/>
  </define>
  <define name="k.arch.attribute">
    <attribute name="arch"/>
  </define>
  <define name="k.description.attribute">
    <attribute name="description"/>
  </define>
  <define name="k.path.attribute">
    <attribute name="path"/>
  </define>
  <define name="k.profiles.attribute">
    <attribute name="profiles"/>
  </define>
  <define name="k.pwd.attribute">
    <attribute name="pwd"/>
  </define>
  <define name="k.script.attribute">
    <attribute name="script"/>
  </define>
  <define name="k.source.attribute">
    <attribute name="source"/>
  </define>
  <define name="k.type.attribute">
    <attribute name="type"/>
  </define>
  <!--
    ==========================================
    common element <author>
    
  -->
  <div>
    <define name="k.author.attlist">
      <empty/>
    </define>
    <define name="k.author">
      <element name="author">
        <ref name="k.author.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <compressed>
    
  -->
  <div>
    <define name="k.compressed.attlist">
      <empty/>
    </define>
    <define name="k.compressed">
      <element name="compressed">
        <ref name="k.compressed.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <configuration>
    
  -->
  <div>
    <define name="k.configuration.source.attribute">
      <ref name="k.source.attribute"/>
    </define>
    <define name="k.configuration.dest.attribute">
      <attribute name="dest"/>
    </define>
    <define name="k.configuration.attlist">
      <interleave>
        <ref name="k.configuration.source.attribute"/>
        <ref name="k.configuration.dest.attribute"/>
      </interleave>
    </define>
    <define name="k.configuration">
      <element name="configuration">
        <ref name="k.configuration.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <commandline>
    
  -->
  <div>
    <define name="k.commandline.attlist">
      <empty/>
    </define>
    <define name="k.commandline">
      <element name="commandline">
        <ref name="k.commandline.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <contact>
    
  -->
  <div>
    <define name="k.contact.attlist">
      <empty/>
    </define>
    <define name="k.contact">
      <element name="contact">
        <ref name="k.contact.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <defaultbaseroot>
    
  -->
  <div>
    <define name="k.defaultbaseroot.attlist">
      <empty/>
    </define>
    <define name="k.defaultbaseroot">
      <element name="defaultbaseroot">
        <ref name="k.defaultbaseroot.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <defaultdestination>
    
  -->
  <div>
    <define name="k.defaultdestination.attlist">
      <empty/>
    </define>
    <define name="k.defaultdestination">
      <element name="defaultdestination">
        <ref name="k.defaultdestination.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <defaultroot>
    
  -->
  <div>
    <define name="k.defaultroot.attlist">
      <empty/>
    </define>
    <define name="k.defaultroot">
      <element name="defaultroot">
        <ref name="k.defaultroot.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <file>
    
  -->
  <div>
    <define name="k.file.name.attribute">
      <ref name="k.name.attribute"/>
    </define>
    <define name="k.file.arch.attribute">
      <ref name="k.arch.attribute"/>
    </define>
    <define name="k.file.attlist">
      <interleave>
        <ref name="k.file.name.attribute"/>
        <ref name="k.file.arch.attribute"/>
      </interleave>
    </define>
    <define name="k.file">
      <element name="file">
        <ref name="k.file.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <ignore>
    
  -->
  <div>
    <define name="k.ignore.name.attribute">
      <ref name="k.name.attribute"/>
    </define>
    <define name="k.ignore.attlist">
      <ref name="k.ignore.name.attribute"/>
    </define>
    <define name="k.ignore">
      <element name="ignore">
        <ref name="k.ignore.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <initrd>
    
  -->
  <div>
    <define name="k.initrd.attlist">
      <empty/>
    </define>
    <define name="k.initrd">
      <element name="initrd">
        <ref name="k.initrd.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <instrepo>
    
  -->
  <div>
    <define name="k.instrepo.name.attribute">
      <ref name="k.name.attribute"/>
    </define>
    <define name="k.instrepo.priority.attribute">
      <attribute name="priority"/>
    </define>
    <define name="k.instrepo.username.attribute">
      <attribute name="username"/>
    </define>
    <define name="k.instrepo.pwd.attribute">
      <ref name="k.pwd.attribute"/>
    </define>
    <define name="k.instrepo.attlist">
      <interleave>
        <ref name="k.instrepo.name.attribute"/>
        <ref name="k.instrepo.priority.attribute"/>
        <ref name="k.instrepo.username.attribute"/>
        <ref name="k.instrepo.pwd.attribute"/>
      </interleave>
    </define>
    <define name="k.instrepo">
      <element name="instrepo">
        <ref name="k.instrepo.attlist"/>
        <ref name="k.source"/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <kernel>
    
  -->
  <div>
    <define name="k.kernel.attlist">
      <empty/>
    </define>
    <define name="k.kernel">
      <element name="kernel">
        <ref name="k.kernel.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <keytable>
    
  -->
  <div>
    <define name="k.keytable.attlist">
      <empty/>
    </define>
    <define name="k.keytable">
      <element name="keytable">
        <ref name="k.keytable.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <locale>
    
  -->
  <div>
    <!-- locale -->
    <define name="k.locale.attlist">
      <empty/>
    </define>
    <define name="k.locale">
      <element name="locale">
        <ref name="k.locale.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <metadata>
    
  -->
  <div>
    <define name="k.metadata.attlist">
      <empty/>
    </define>
    <define name="k.metadata">
      <element name="metadata">
        <ref name="k.metadata.attlist"/>
        <oneOrMore>
          <ref name="k.package"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="k.metafile"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <metafile>
    
  -->
  <div>
    <define name="k.metafile.url.attribute">
      <attribute name="url"/>
    </define>
    <define name="k.metafile.script.attribute">
      <ref name="k.script.attribute"/>
    </define>
    <define name="k.metafile.target.attribute">
      <attribute name="target"/>
    </define>
    <define name="k.metafile.attlist">
      <interleave>
        <ref name="k.metafile.url.attribute"/>
        <ref name="k.metafile.script.attribute"/>
        <ref name="k.metafile.target.attribute"/>
      </interleave>
    </define>
    <define name="k.metafile">
      <element name="metafile">
        <ref name="k.metafile.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <opensusePattern>
    
  -->
  <div>
    <define name="k.opensusepattern.name.attribute">
      <ref name="k.name.attribute"/>
    </define>
    <define name="k.opensusepattern.attlist">
      <ref name="k.opensusepattern.name.attribute"/>
    </define>
    <define name="k.opensusepattern">
      <element name="opensusePattern">
        <ref name="k.opensusepattern.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <package>
    
  -->
  <div>
    <define name="k.package.name.attribute">
      <ref name="k.name.attribute"/>
    </define>
    <define name="k.package.arch.attribute">
      <ref name="k.arch.attribute"/>
    </define>
    <define name="k.package.priority.attribute">
      <attribute name="priority"/>
    </define>
    <define name="k.package.addarch.attribute">
      <attribute name="addarch"/>
    </define>
    <define name="k.package.removearch.attribute">
      <attribute name="removearch"/>
    </define>
    <define name="k.package.source.attribute">
      <ref name="k.source.attribute"/>
    </define>
    <define name="k.package.script.attribute">
      <ref name="k.script.attribute"/>
    </define>
    <define name="k.package.attlist">
      <interleave>
        <ref name="k.package.name.attribute"/>
        <ref name="k.package.arch.attribute"/>
        <ref name="k.package.priority.attribute"/>
        <ref name="k.package.addarch.attribute"/>
        <ref name="k.package.removearch.attribute"/>
        <ref name="k.package.source.attribute"/>
        <ref name="k.package.script.attribute"/>
      </interleave>
    </define>
    <define name="k.package">
      <element name="package">
        <ref name="k.package.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <packagemanager>
    
  -->
  <div>
    <define name="k.packagemanager.attlist">
      <empty/>
    </define>
    <define name="k.packagemanager">
      <element name="packagemanager">
        <ref name="k.packagemanager.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <partitions>
    
  -->
  <div>
    <define name="k.partitions.attlist">
      <empty/>
    </define>
    <define name="k.partitions">
      <element name="partitions">
        <ref name="k.partitions.attlist"/>
        <zeroOrMore>
          <ref name="k.partition"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <partition>
    
  -->
  <div>
    <define name="k.partition.type.attribute">
      <ref name="k.type.attribute"/>
    </define>
    <define name="k.partition.number.attribute">
      <attribute name="number"/>
    </define>
    <define name="k.partition.size.attribute">
      <attribute name="size"/>
    </define>
    <define name="k.partition.mountpoint.attribute">
      <attribute name="mountpoint"/>
    </define>
    <define name="k.partition.target.attribute">
      <attribute name="target"/>
    </define>
    <define name="k.partition.attlist">
      <interleave>
        <ref name="k.partition.type.attribute"/>
        <ref name="k.partition.number.attribute"/>
        <ref name="k.partition.size.attribute"/>
        <ref name="k.partition.mountpoint.attribute"/>
        <ref name="k.partition.target.attribute"/>
      </interleave>
    </define>
    <define name="k.partition">
      <element name="partition">
        <ref name="k.partition.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <persistent>
    
  -->
  <div>
    <define name="k.persistent.attlist">
      <empty/>
    </define>
    <define name="k.persistent">
      <element name="persistent">
        <ref name="k.persistent.attlist"/>
        <zeroOrMore>
          <ref name="k.file"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <profile>
    
  -->
  <div>
    <define name="k.profile.name.attribute">
      <ref name="k.name.attribute"/>
    </define>
    <define name="k.profile.description.attribute">
      <attribute name="description"/>
    </define>
    <define name="k.profile.attlist">
      <interleave>
        <ref name="k.profile.name.attribute"/>
        <ref name="k.profile.description.attribute"/>
      </interleave>
    </define>
    <define name="k.profile">
      <element name="profile">
        <ref name="k.profile.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <repository>
    
  -->
  <div>
    <define name="k.repository.type.attribute">
      <ref name="k.type.attribute"/>
    </define>
    <define name="k.repository.status.attribute">
      <attribute name="status"/>
    </define>
    <define name="k.repository.attlist">
      <interleave>
        <ref name="k.repository.type.attribute"/>
        <ref name="k.repository.status.attribute"/>
      </interleave>
    </define>
    <define name="k.repository">
      <element name="repository">
        <ref name="k.repository.attlist"/>
        <ref name="k.source"/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <rpm-check-signatures>
    
  -->
  <div>
    <define name="k.rpm-check-signatures.attlist">
      <empty/>
    </define>
    <define name="k.rpm-check-signatures">
      <element name="rpm-check-signatures">
        <ref name="k.rpm-check-signatures.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <rpm-force>
    
  -->
  <div>
    <define name="k.rpm-force.attlist">
      <empty/>
    </define>
    <define name="k.rpm-force">
      <element name="rpm-force">
        <ref name="k.rpm-force.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <size>
    
  -->
  <div>
    <define name="k.size.unit.attribute">
      <attribute name="unit">
        <choice>
          <value>M</value>
          <value>G</value>
        </choice>
      </attribute>
    </define>
    <!-- was: text -->
    <define name="k.size.attlist">
      <ref name="k.size.unit.attribute"/>
    </define>
    <define name="k.size">
      <element name="size">
        <ref name="k.size.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <source>
    
  -->
  <div>
    <define name="k.source.path.attribute">
      <ref name="k.path.attribute"/>
    </define>
    <define name="k.source.attlist">
      <ref name="k.source.path.attribute"/>
    </define>
    <define name="k.source">
      <element name="source">
        <ref name="k.source.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <specification>
    
  -->
  <div>
    <define name="k.specification.attlist">
      <empty/>
    </define>
    <define name="k.specification">
      <element name="specification">
        <ref name="k.specification.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <temporary>
    
  -->
  <div>
    <define name="k.temporary.attlist">
      <empty/>
    </define>
    <define name="k.temporary">
      <element name="temporary">
        <ref name="k.temporary.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <timeout>
    
  -->
  <div>
    <define name="k.timeout.attlist">
      <empty/>
    </define>
    <define name="k.timeout">
      <element name="timeout">
        <ref name="k.timeout.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <timezone>
    
  -->
  <div>
    <define name="k.timezone.attlist">
      <empty/>
    </define>
    <define name="k.timezone">
      <element name="timezone">
        <ref name="k.timezone.attlist"/>
        <text/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <type>
    
  -->
  <div>
    <define name="k.type.checkprebuilt.attribute">
      <attribute name="checkprebuilt"/>
    </define>
    <define name="k.type.bootprofile.attribute">
      <attribute name="bootprofile"/>
    </define>
    <define name="k.type.boot.attribute">
      <attribute name="boot"/>
    </define>
    <define name="k.type.flags.attribute">
      <attribute name="flags"/>
    </define>
    <define name="k.type.filesystem.attribute">
      <attribute name="filesystem"/>
    </define>
    <define name="k.type.baseroot.attribute">
      <attribute name="baseroot"/>
    </define>
    <define name="k.type.format.attribute">
      <attribute name="format"/>
    </define>
    <define name="k.type.attlist">
      <interleave>
        <ref name="k.type.checkprebuilt.attribute"/>
        <ref name="k.type.bootprofile.attribute"/>
        <ref name="k.type.boot.attribute"/>
        <ref name="k.type.flags.attribute"/>
        <ref name="k.type.filesystem.attribute"/>
        <ref name="k.type.baseroot.attribute"/>
        <ref name="k.type.format.attribute"/>
      </interleave>
    </define>
    <define name="k.type">
      <element name="type">
        <ref name="k.type.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <union>
    
  -->
  <div>
    <define name="k.union.attlist">
      <empty/>
    </define>
    <define name="k.union">
      <element name="union">
        <ref name="k.union.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <user>
    
  -->
  <div>
    <define name="k.user.name.attribute">
      <ref name="k.name.attribute"/>
    </define>
    <define name="k.user.realname.attribute">
      <attribute name="realname"/>
    </define>
    <define name="k.user.pwd.attribute">
      <ref name="k.pwd.attribute"/>
    </define>
    <define name="k.user.home.attribute">
      <attribute name="home"/>
    </define>
    <define name="k.user.shell.attribute">
      <attribute name="shell"/>
    </define>
    <define name="k.user.attlist">
      <interleave>
        <ref name="k.user.name.attribute"/>
        <ref name="k.user.realname.attribute"/>
        <ref name="k.user.pwd.attribute"/>
        <ref name="k.user.home.attribute"/>
        <ref name="k.user.shell.attribute"/>
      </interleave>
    </define>
    <define name="k.user">
      <element name="users">
        <ref name="k.user.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    common element <version>
    
  -->
  <div>
    <define name="k.version.attlist">
      <empty/>
    </define>
    <define name="k.version">
      <element name="version">
        <ref name="k.version.attlist"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    main block: <deploy>
    
  -->
  <div>
    <define name="k.deploy.server.attribute">
      <attribute name="server"/>
    </define>
    <define name="k.deploy.blocksize.attribute">
      <attribute name="blocksize"/>
    </define>
    <define name="k.deploy.attlist">
      <interleave>
        <ref name="k.deploy.server.attribute"/>
        <ref name="k.deploy.blocksize.attribute"/>
      </interleave>
    </define>
    <define name="k.deploy">
      <element name="deploy">
        <ref name="k.deploy.attlist"/>
        <optional>
          <ref name="k.timeout"/>
        </optional>
        <optional>
          <ref name="k.commandline"/>
        </optional>
        <optional>
          <ref name="k.kernel"/>
        </optional>
        <optional>
          <ref name="k.initrd"/>
        </optional>
        <optional>
          <ref name="k.partitions"/>
        </optional>
        <optional>
          <ref name="k.union"/>
        </optional>
        <zeroOrMore>
          <ref name="k.configuration"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    main block: <description>
    
  -->
  <div>
    <define name="k.description.type.attribute">
      <attribute name="type">
        <choice>
          <value>boot</value>
          <value>system</value>
        </choice>
      </attribute>
    </define>
    <define name="k.description.attlist">
      <ref name="k.description.type.attribute"/>
    </define>
    <define name="k.description">
      <element name="description">
        <ref name="k.description.attlist"/>
        <ref name="k.author"/>
        <oneOrMore>
          <ref name="k.contact"/>
        </oneOrMore>
        <ref name="k.specification"/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    main block: <drivers>
    
  -->
  <div>
    <define name="k.drivers.type.attribute">
      <ref name="k.type.attribute"/>
    </define>
    <define name="k.drivers.profiles.attribute">
      <ref name="k.profiles.attribute"/>
    </define>
    <define name="k.drivers.attlist">
      <interleave>
        <ref name="k.drivers.type.attribute"/>
        <ref name="k.drivers.profiles.attribute"/>
      </interleave>
    </define>
    <define name="k.drivers">
      <element name="drivers">
        <ref name="k.drivers.attlist"/>
        <oneOrMore>
          <ref name="k.file"/>
        </oneOrMore>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    main block: <instsource>
    
  -->
  <div>
    <define name="k.instsource.arch.attribute">
      <ref name="k.arch.attribute"/>
    </define>
    <define name="k.instsource.attlist">
      <ref name="k.instsource.arch.attribute"/>
    </define>
    <define name="k.instsource">
      <element name="instsource">
        <ref name="k.instsource.attlist"/>
        <oneOrMore>
          <ref name="k.instrepo"/>
        </oneOrMore>
        <ref name="k.metadata"/>
        <ref name="k.packages"/>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    main block: <packages>
    
  -->
  <div>
    <define name="k.packages.type.attribute">
      <ref name="k.type.attribute"/>
    </define>
    <define name="k.packages.memory.attribute">
      <attribute name="memory"/>
    </define>
    <define name="k.packages.disk.attribute">
      <attribute name="disk"/>
    </define>
    <define name="k.packages.profiles.attribute">
      <attribute name="profiles"/>
    </define>
    <define name="k.packages.patternType.attribute">
      <attribute name="patternType"/>
    </define>
    <define name="k.packages.patternPackageType.attribute">
      <attribute name="patternPackageType"/>
    </define>
    <define name="k.packages.attlist">
      <interleave>
        <ref name="k.packages.type.attribute"/>
        <ref name="k.packages.memory.attribute"/>
        <ref name="k.packages.disk.attribute"/>
        <ref name="k.packages.profiles.attribute"/>
        <ref name="k.packages.patternType.attribute"/>
        <ref name="k.packages.patternPackageType.attribute"/>
      </interleave>
    </define>
    <define name="k.packages">
      <element name="packages">
        <ref name="k.packages.attlist"/>
        <zeroOrMore>
          <ref name="k.package"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="k.opensusepattern"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="k.ignore"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    main block: <bootstrap>
    
  -->
  <div>
    <define name="k.bootstrap.profiles.attribute">
      <attribute name="profiles"/>
    </define>
    <define name="k.bootstrap.attlist">
      <ref name="k.bootstrap.profiles.attribute"/>
    </define>
    <define name="k.bootstrap">
      <element name="bootstrap">
        <ref name="k.bootstrap.attlist"/>
        <zeroOrMore>
          <ref name="k.package"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    main block: <preferences>
    
  -->
  <div>
    <define name="k.preferences.attlist">
      <empty/>
    </define>
    <define name="k.preferences">
      <element name="preferences">
        <ref name="k.preferences.attlist"/>
        <oneOrMore>
          <ref name="k.type"/>
        </oneOrMore>
        <ref name="k.version"/>
        <optional>
          <ref name="k.size"/>
        </optional>
        <optional>
          <ref name="k.compressed"/>
        </optional>
        <optional>
          <ref name="k.packagemanager"/>
        </optional>
        <optional>
          <ref name="k.rpm-check-signatures"/>
        </optional>
        <optional>
          <ref name="k.rpm-force"/>
        </optional>
        <optional>
          <ref name="k.keytable"/>
        </optional>
        <optional>
          <ref name="k.timezone"/>
        </optional>
        <optional>
          <ref name="k.locale"/>
        </optional>
        <optional>
          <ref name="k.defaultdestination"/>
        </optional>
        <optional>
          <ref name="k.defaultroot"/>
        </optional>
        <optional>
          <ref name="k.defaultbaseroot"/>
        </optional>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    main block: <profiles>
    
  -->
  <div>
    <define name="k.profiles">
      <element name="profiles">
        <zeroOrMore>
          <ref name="k.profile"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    main block: <split>
    
  -->
  <div>
    <define name="k.split.attlist">
      <empty/>
    </define>
    <define name="k.split">
      <element name="split">
        <ref name="k.split.attlist"/>
        <optional>
          <ref name="k.temporary"/>
        </optional>
        <optional>
          <ref name="k.persistent"/>
        </optional>
      </element>
    </define>
  </div>
  <!--
    ==========================================
    main block: <users>
    
  -->
  <div>
    <define name="k.users.group.attribute">
      <attribute name="group"/>
    </define>
    <define name="k.users.attlist">
      <ref name="k.users.group.attribute"/>
    </define>
    <define name="k.users">
      <element name="users">
        <ref name="k.users.attlist"/>
        <oneOrMore>
          <ref name="k.user"/>
        </oneOrMore>
      </element>
    </define>
  </div>
</grammar>
